#img {
    float: left;
    margin-right: 10px
}

#body {
    width: 960px;
}

#labels {
    float: left;
}

#jnutongImg {
    width: 100px;
    height: 100px;
}

#main > div {
    display:inline-block;
}