#img {
    margin-right: 10px;
    margin-top: 5px;
}

#labels {
}

#jnutongImg {
    width: 100px;
    height: 100px;
}

#main {
    text-align: center;
}

#main > div {
    display:inline-block;
}

#pwd {
    margin-left: 5px;
}

#loginBtn {
    margin-top: 5px;
    text-align: right;
}


