<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>관리자 페이지</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat|Rammetto+One" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/bus_one.css">
</head>
<body>
<div id="wrap">
    <nav id="main_lnb">
        <ul>

            <div class="sidenav">

                <div id = "image"><a href="/hello"><img src = "/img/jnutong-logo.png"></a></div>

                <button class="dropdown-btn">
                    <div>버스 관리</div>
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="/bus_one">시내 버스</a>
                    <a href="/bus_two">교내 버스</a>
                </div>
                <a href="/etc">기타 관리</a>
            </div>
        </ul>
    </nav>
    <section>
        <nav>
            <div id="account">
                <div id="hello" th:id="printHello" style="float: left; margin: 10px 10px">
                    <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
                </div>
                <div id="btnsignout" th:id="signoutBtn" style="float: left; margin: 10px 10px">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                    </form>
                </div>
            </div>
        </nav>
        <div id="content_wrap">
            <div id="content">
                <article>
                    <div id = "head">기타
                    </div>
                    <hr id = "line">
                    <div>
                        <table>
                            <h4>제주대학 교학사일정</h4>
                            <tr>
                                <th>No.</th>
                                <th>날짜</th>
                                <th>일정</th>
                            </tr>
                            <tr th:each="jnuEventSchedule : ${jnuBusScheduleList}">
                                <td th:text="${jnuEventSchedule.num}"></td>
                                <td th:text="${jnuEventSchedule.date}"></td>
                                <td th:text="${jnuEventSchedule.name}"></td>
                            </tr>
                        </table>
                    </div>
                </article>


            </div>
        </div>
    </section>
</div>
<script src="/js/dropdown.js"></script>
</body>
</html>