<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>관리자 페이지</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/hello.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat|Rammetto+One" rel="stylesheet">
</head>
<body>
<div id="wrap">
    <nav id="main_lnb">
        <ul>
            <div class="sidenav">
                <div id = "image">
                    <a href="hello">
                        <img src = "/img/jnutong-logo.png">
                    </a>
                </div>
                <button class="dropdown-btn">버스 관리
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <a href="/bus_one">시내 버스</a>
                    <a href="/bus_two">교내 버스</a>
                </div>
                <a href="etc">기타 관리</a>
            </div>
        </ul>
    </nav>
    <section>
        <nav>
            <div id="account">
                <div id="hello" th:id="printHello" style="float: left; margin: 10px 10px">
                    <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
                </div>
                <div id="btnsignout" th:id="signoutBtn" style="float: left; margin: 10px 10px">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                    </form>
                </div>
            </div>
        </nav>
        <div id="content_wrap">
            <div id="content">
                <article>
                    <div id = "head">
                        관리자 페이지
                    </div>
                    <hr id = "line">
                    <div>
                        <table>
                            <h4 id="jnubustitle">교내순환버스 정류장</h4>
                            <tr>
                                <th>정류장ID</th>
                                <th>정류장</th>
                            </tr>
                            <tr th:each="jnuBusStation : ${jnubusStaionList}">
                                <td th:text="${jnuBusStation.id}"></td>
                                <td th:text="${jnuBusStation.name}"></td>
                            </tr>
                        </table>
                    </div>
                </article>
            </div>
        </div>

    </section>
</div>
<script src="/js/dropdown.js"></script>
</body>
</html>