<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheet/login.css">
</head>
<body style="width: 960px;">
    <div th:if="${param.error}">
        <script>
            alert("Check your account!");
        </script>
    </div>
    <div th:if="${param.logout}">
        <script>
            alert("Good bye!");
        </script>
    </div>
    <form th:action="@{/login}" method="post">
        <div style="width: 450px; margin: 15px 5px">
            <div id="img" style="float: left; margin-right: 10px">
                <img src="http://via.placeholder.com/100x100" />
            </div>
            <div id="labels" style="margin: 20px 10px;">
                <div style="margin: 10px 10px;"><label> ID : <input type="text" name="username"/> </label></div>
                <div><label> PW: <input type="password" name="password"/> </label></div>
                <div style="float: right; margin-right: 50px"><input type="submit" value="Sign In"/></div>
            </div>
        </div>
    </form>
</body>
</html>