<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheet/login.css">
</head>
<body>
    <div th:if="${param.error}">
        <script>
            alert("Check your account!");
        </script>
    </div>
    <div th:if="${param.logout}">
        <script>
            alert("Good bye!");
        </script>
    </div>
    <form th:action="@{/login}" method="post">
        <div>
            <div id="img">
                <img src="http://via.placeholder.com/150x150" />
            </div>
            <div id="labels">
                <div><label> User Name : <input type="text" name="username"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
            </div>
            <div><input type="submit" value="Sign In"/></div>
        </div>
    </form>
</body>
</html>